<!DOCTYPE html>
<div th:switch="${users}" xmlns:th="http://www.w3.org/1999/xhtml">
    <h2 th:case="null">empty</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Age</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.age}"></td>
                <td><a th:href="@{/admin/edit/{id}(id=${user.id})}">Edit</a></td>
                <td><a th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/admin/create">create user</a></p>
</div>
<br>
<div th:replace="logout :: logout"></div>
</html>