<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/admin/update/{id}(id=${user.id})}"
      th:object="${user}"
      method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <br>
    <label for="lastName">lastName</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="LastName">
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    <br>
    <label for="email">Email</label>
    <input type="email" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <br>
    <label for="age">Age</label>
    <input type="number" th:field="*{age}" id="age" placeholder="Age">
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
    <br>
    <label for="password">Change password</label>
    <input type="password" th:field="*{password}" id="password" placeholder="NewPassword">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <br>
    <th:block th:each="role:${user.allRoles}">
        <input type="checkbox"
               name="roles"            
               th:field="*{roles}"
               th:value="${role.id}"
               th:text="${role.role}" class="m-2"/>
    </th:block>
    <br>
    <input type="submit" value="Update User">
</form>
<br>
<div th:replace="logout :: logout"></div>
</body>
</html>