<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>LastName</th>
    <th>Email</th>
    <th>Age</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.name}"></td>
    <td th:text="${user.lastName}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.age}"></td>
  </tr>
  </tbody>
</table>
<br>
<div th:replace="logout :: logout"></div>
</body>
</html>